@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
	font-family: "Open Sans", "Roboto", sans-serif !important;
}

.navbar-brand {
	font-size: 1.75rem;
}

.navbar-text {
	font-size: 1.3rem;
	color: #666666;
}

.navbar-subbrand {
	display: inline;
	font-size: 0.75rem;
}

.pv-toolbar {
	height: 46px;
	background-color: #ffffff;
}

.pv-container {
	background-color: rgb(238, 238, 240);
}

.pv-pane {
	background-color: #ffffff;
	height: 100vh;
	width: 100%;
	overflow: scroll;
	overflow-y: scroll;
	scrollbar-width: none;
}

.toolbar-btn:hover {
	background-color: #a8a8a8;
}

.toolbar-btn:focus {
	box-shadow: none !important;
}

.page-num input {
	min-width: 48px;
	width: 48px;
	font-size: 0.75rem;
}

.zoom select {
	min-width: 64px;
	width: 64px;
	font-size: 0.75rem;
}

/* .page-num input{
	min-width: 16px!important;
} */

.page-num span {
	background-color: rgba(249, 249, 250, 1);
	font-size: 0.75rem;
}

.well-shadow {
	-moz-box-shadow: inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow: inset 0 0 10px #000000;
}

.pageviewer {
	margin-inline: 0.3rem;
	border-radius: 6px;
	border: 1px solid #333;
	outline: none;
	text-align: center;
	background-color: transparent;
	padding: 5px;
}

.fixed-bottom {
	background-color: #ededed;
}

.footerBorder {
	border-top: 4px solid black !important
}

.footerStyles {
	position: relative;
	top: 2.5px;
	font-family: 'Montserrat', sans-serif;
}

.footerTxt {
	font-size: small;
}

.gray {
	color: #a2a3a5;
	font-family: 'Montserrat', sans-serif;
	margin-top: 5px;
}

.centerContent {
	display: flex;
	justify-content: center;
}

.pageNum {
	position: relative;
	top: 3px;
	font-family: 'Montserrat', sans-serif;
}

.flexEnd {
	display: flex;
	justify-content: flex-end;
}

.dictionary {
	height: 32px;
	margin-top: 2px;
}

.slp {
	margin: 7.5px 11px 0 8px;
}

@media(max-width: 757px){
	.dictionary, .slp, .gray {
		display: none;
	}

	.col-4 {
		display: flex;
		justify-content: center;
	}
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */